 /* 1_메뉴 */
.menu{
    display: flex;
}
.menu-item{
    width: 25%;
    /* flex-grow: 1; 로 해도 같은 결과값 */
    background:gold;
    transition: 0.5s;
}
.menu-item:hover{
    background: crimson;
    width: 35%;
    /* flex-grow: 1.5; 로 해도 같은 결과값 */
}
.menu-link{
    display: block;
    /* 이 태그의 블록 아무데나 눌러도 링크랑 연결시켜줘야 하기 때문에 block으로 지정 */
    padding: 1em;
    /* 1em, 즉 내 폰트 사이즈만큼 패딩을 준다는 의미 */
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    text-decoration: none;
    text-align: center;
}
.menu-link:hover{
    color: white;
}

/* 2_메뉴 */
/* 부모  container에 flex를 주고, flex-item들이 된 자식들에게 height를 부여하면,
align-items: strech 로 기본 지정되어 있기 때문에, 그 높이만큼 크기가 증가한다. */
.search-form{
    display: flex;
}
.search-form input[type='search']{
    flex: 1;
    height: 40px;
    margin-right: 10px;
    border: 0;
    border-radius: 0.3em; 
    /* 테두리를 둥글게 */
    font-size: 1rem;
}
.search-form input[type='submit']{
    width: 4em;
    border: 0;
    border-radius: 0.3em;
    font-size: 1rem;
    background:gold
}